* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

a {
  color: white;
  text-decoration: none;
  position: relative;
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  width: 0;
  height: 3px;
  background-color: white;
  transition: width 0.3s ease;
  text-underline-offset: 1rem;
}

a:hover::after,
a:focus::after {
  width: 80%;
  text-align: center;
  left: 10%;
}

.page.one {
  height: 100vh;
  height: 100lvh;
  background-image: url("images/mobile/image-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.header,
.hamburger-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 2rem;
}

.hamburger-header {
  padding: 1.5rem;
}

.hamburger-menu-icon {
  cursor: pointer;
}

.logo {
  width: 140px;
}

.immersive-p {
  color: white;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 2.375rem;
  padding: 2rem;
  border: 2px solid white;
  width: 90%;
  margin: auto;
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  justify-self: center;
  position: absolute;
  top: 10%;
  left: 5%;
  z-index: 0;
}

.hamburger-open-container {
  background-color: black;
  width: 80%;
  /* position: absolute;
  top: 11%;
  right: 0; */
  height: 70%;
  margin-left: auto;
  z-index: 2;
  display: none;
}

.links-ul {
  margin-left: 1.5rem;
  list-style-type: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5625rem; /* 104.167% */
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 2rem;
  justify-content: center;
  height: 80%;
  /* border: 1px solid white; */
}

.close-button {
  border: none;
  font-size: 1.25rem;
  color: white;
  background-color: black;
  cursor: pointer;
}

.page-two-top-image {
  display: flex;
  margin: 4rem auto;
  margin-bottom: 3rem;
}

.page-two.title {
  color: #000;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2rem;
  margin: 1rem 1.25rem;
}

.founded-p {
  color: #000;
  opacity: 0.4994;
  text-align: center;
  font-family: "Alata";
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5625rem; /* 166.667% */
  width: 17.4375rem;
  margin: auto;
  margin-bottom: 5rem;
}

.creations-title,
.creations-title-desktop {
  color: #000;
  text-align: center;
  font-family: "Josefin Sans";
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2rem;
  margin: 2rem;
  margin-bottom: 3rem;
}

.creation-item-p {
  color: white;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5rem;
  margin-left: 2rem;
  padding-top: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  /* border: 1px solid white; */
}

.creation-item {
  cursor: pointer;
  width: 90%;
}

.creation-item.one {
  background-image: url("images/mobile/image-deep-earth.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  height: 7.5rem;
  margin: 1rem auto;
  display: flex;
}

.creation-item.one:hover {
  background-image: url("images/mobile/image-deep-earth.jpg");
  background: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url("images/mobile/image-deep-earth.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.creation-item.two {
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url("images/mobile/image-night-arcade.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/mobile/image-night-arcade.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  height: 7.5rem;
  margin: 1rem auto;
}

.creation-item.two:hover {
  background-image: url("images/mobile/image-night-arcade.jpg");
  background: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url("images/mobile/image-night-arcade.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.creation-item.three {
  background-image: url("images/mobile/image-soccer-team.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  height: 7.5rem;
  margin: auto;
}

.creation-item.three:hover {
  background-image: url("images/mobile/image-soccer-team.jpg");
  background: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url("images/mobile/image-soccer-team.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.creation-item.four {
  background-image: url("images/mobile/image-grid.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  height: 7.5rem;
  margin: auto;
}

.creation-item.four:hover {
  background-image: url("images/mobile/image-grid.jpg");
  background: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url("images/mobile/image-grid.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.creation-item.five {
  background-image: url("images/mobile/image-from-above.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  height: 7.5rem;
  margin: auto;
}

.creation-item.five:hover {
  background-image: url("images/mobile/image-from-above.jpg");
  background: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url("images/mobile/image-from-above.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.creation-item.six {
  background-image: url("images/mobile/image-pocket-borealis.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  height: 7.5rem;
  margin: auto;
}

.creation-item.six:hover {
  background-image: url("images/mobile/image-pocket-borealis.jpg");
  background: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url("images/mobile/image-pocket-borealis.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.creation-item.seven {
  background-image: url("images/mobile/image-curiosity.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  height: 7.5rem;
  margin: auto;
}

.creation-item.seven:hover {
  background-image: url("images/mobile/image-curiosity.jpg");
  background: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url("images/mobile/image-curiosity.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.creation-item.eight {
  background-image: url("images/mobile/image-fisheye.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  height: 7.5rem;
  margin: auto;
}

.creation-item.eight:hover {
  background-image: url("images/mobile/image-fisheye.jpg");
  background: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url("images/mobile/image-fisheye.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.see-all-button,
.see-all-button-desktop {
  width: 35%;
  max-width: 200px;
  height: 2.5rem;
  color: #000;
  font-family: "Alata", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.875rem; /* 100% */
  letter-spacing: 0.3125rem;
  background-color: white;
  border: 1px solid black;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.see-all-button:hover,
.see-all-button-desktop:hover {
  background-color: black;
  color: white;
}

.footer {
  background-color: black;
  height: 100%;
  flex-shrink: 0;
  padding: 4rem 2rem;
  /* display: flex;
  flex-direction: column; */
}

.footer-logo {
  display: inline-block;
  width: 144px;
  text-align: center;
}

.footer-image-container {
  text-align: center;
  display: flex;
  justify-content: center;
}

/* .footer-logo a:hover::after,
.footer-logo a:focus::after {
  width: 10%;
  text-align: center;
  left: 10%;
} */

.footer-ul {
  text-align: center;
  margin: 2rem;
}

.footer-link {
  margin: 1.75rem 0;
}

.footer-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 1rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.footer-copyright-p {
  color: #fff;
  opacity: 0.5;
  font-family: "Alata";
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5625rem; /* 166.667% */
  text-align: center;
}

@media (max-width: 1400px) {
  .header.desktop,
  .creation-desktop-item-p,
  .footer-desktop,
  .our-creations-desktop-container {
    display: none;
  }
}

@media (min-width: 1400px) {
  .header.mobile,
  .footer {
    display: none;
  }
  .links-ul.desktop {
    flex-direction: row;
  }
  .links.desktop {
    color: #fff;
    font-family: "Alata";
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5625rem; /* 166.667% */
  }
  .immersive-p {
    top: 15%;
    left: 5%;
    width: 35.625rem;
    height: 12.375rem;
    flex-shrink: 0;
  }
  .page-two-image-container {
    position: relative;
  }
  .page-two-top-image {
    width: 55.5625rem;
    height: 31.25rem;
    flex-shrink: 0;
    margin-left: 5rem;
  }
  .page-two-text-container.desktop {
    width: 33.8125rem;
    height: 19.8125rem;
    flex-shrink: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    /* border: 1px solid green; */
    background-color: white;
    padding: 3rem;
    margin-right: 5rem;
  }
  .founded-p {
    width: 27.8125rem;
  }
  .creations-title,
  .see-all-button {
    display: none;
  }
  .our-creations-desktop-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5.25rem;
  }
  .creations-title-desktop {
    margin: 0;
    padding: 0;
  }
  .see-all-button-desktop {
    width: 9.8125rem;
    height: 2.5rem;
    flex-shrink: 0;
    margin: 0;
  }
  .creations-container {
    display: none;
  }
  .creations-container-desktop {
    display: grid;
    padding: 3rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-left: 4rem;
    margin-bottom: 5rem;
  }
  .creation-desktop-item {
    width: 16rem;
    height: 28.125rem;
    display: flex;
    margin: 0 auto;
    /* border: 1px solid red; */
  }
  .creation-desktop-item.one {
    background-image: url("images/desktop/image-deep-earth.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .creation-desktop-item.one:hover {
    background-image: url("images/desktop/image-deep-earth.jpg");
    background: linear-gradient(
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0.75)
      ),
      url("images/desktop/image-deep-earth.jpg");
  }

  .creation-desktop-item.two {
    background-color: rgba(0, 0, 0, 0.1);
    background-image: url("images/desktop/image-night-arcade.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("images/desktop/image-night-arcade.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .creation-desktop-item.two:hover {
    background-image: url("images/desktop/image-night-arcade.jpg");
    background: linear-gradient(
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0.75)
      ),
      url("images/desktop/image-night-arcade.jpg");
  }

  .creation-desktop-item.three {
    background-image: url("images/desktop/image-soccer-team.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .creation-desktop-item.three:hover {
    background-image: url("images/desktop/image-soccer-team.jpg");
    background: linear-gradient(
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0.75)
      ),
      url("images/desktop/image-soccer-team.jpg");
  }

  .creation-desktop-item.four {
    background-image: url("images/desktop/image-grid.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .creation-desktop-item.four:hover {
    background-image: url("images/desktop/image-grid.jpg");
    background: linear-gradient(
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0.75)
      ),
      url("images/desktop/image-grid.jpg");
  }

  .creation-desktop-item.five {
    background-image: url("images/desktop/image-from-above.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .creation-desktop-item.five:hover {
    background-image: url("images/desktop/image-from-above.jpg");
    background: linear-gradient(
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0.75)
      ),
      url("images/desktop/image-from-above.jpg");
  }

  .creation-desktop-item.six {
    background-image: url("images/desktop/image-pocket-borealis.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .creation-desktop-item.six:hover {
    background-image: url("images/desktop/image-pocket-borealis.jpg");
    background: linear-gradient(
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0.75)
      ),
      url("images/desktop/image-pocket-borealis.jpg");
  }

  .creation-desktop-item.seven {
    background: rgba(255, 255, 255, 0.75);
    background-image: url("images/desktop/image-curiosity.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .creation-desktop-item.seven:hover {
    background-image: url("images/desktop/image-curiosity.jpg");
    background: linear-gradient(
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0.75)
      ),
      url("images/desktop/image-curiosity.jpg");
  }

  .creation-desktop-item.eight {
    background-image: url("images/desktop/image-fisheye.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .creation-desktop-item.eight:hover {
    background-image: url("images/desktop/image-fisheye.jpg");
    background: linear-gradient(
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0.75)
      ),
      url("images/desktop/image-fisheye.jpg");
  }

  .creation-desktop-item-p {
    color: #fff;
    font-family: Josefin Sans;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2rem; /* 100% */
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }
  .creation-desktop-item-p.grid {
    margin-left: 3rem;
  }
  .desktop-item-link {
    /* border: 1px solid black; */
    padding: 0;
    margin: 0;
    width: 16rem;
    height: 28.125rem;
  }
  .footer-desktop {
    background-color: black;
    padding: 3rem;
  }
  .footer-top-container {
    display: flex;
    justify-content: space-between;
  }
  .item-container-desktop {
    display: flex;
    gap: 1rem;
  }
  .desktop-item-container ul {
    display: flex;
    gap: 2rem;
  }
  .footer-desktop-copyright {
    color: #fff;
    font-family: "Alata";
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5625rem; /* 166.667% */
    opacity: 0.5;
  }
  .footer-bottom-container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1500px) {
  .our-creations-desktop-container {
    flex-direction: space-around;
    width: 40%;
    margin: auto;
  }
  .creations-container-desktop {
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
  }
  .page-two-image-container {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 3rem;
  }
  .page-two-top-image {
    margin: auto;
  }
  .page-two-text-container.desktop {
    position: static;
    text-align: center;
    margin: auto;
  }
  .page-two.title {
    margin: 0;
    margin-bottom: 2rem;
  }
  .footer-desktop {
    padding-left: 15vw;
    padding-right: 15vw;
  }
  .item-container-desktop {
    gap: 2rem;
  }
  .header.desktop {
    padding-left: 15vw;
    padding-right: 15vw;
  }

  .immersive-p {
    position: static;
    margin: 0;
    margin-left: 15vw;
    margin-top: 4rem;
    width: 40rem;
    height: 24rem;
    color: #fff;
    font-family: "Josefin Sans";
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: 4.375rem;
    display: flex;
    align-items: center;
  }
}
